.venv/
temp_excel/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
*.xlsx
node_modules/
.next/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/generated/prisma
.vscode/
*.db
*.db-journal
dev.db
